@font-face {
    font-family: 'zombie';
    src: url(fonts/zombie.otf) format("opentype")
}
.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Bebas Neue';
}

.timer {
    font-family: "zombie";
}

header img {
    margin-top: -50px;
    transform: scale(70%);
}

main {
    height: 810px;
}

.i_count {
    font-size: 50px;
    margin-bottom: -20px;
    margin-left: 5px;
}

.infected {
    text-align: center;
    font-size: 25px;
    margin-left: 5px;
    color: rgb(136, 8, 8);
}

.infected img{
    transform: scale(75%);
    margin-bottom: -20px;
}

.s_count {
    font-size: 50px;
    margin-left: 5px;
    margin-bottom: -30px;
}

.survivors {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: rgb(173, 162, 162);
}

.survivor1 {
    margin-right: 15px;
    color: rgb(40, 43, 43)
}
.survivor1 img {
    transform: scale(75%);
    margin-bottom: -20px;
}

.survivor2 {
    margin-left: 15px;
}
.survivor2 img {
    transform: scale(75%);
    margin-bottom: -20px;
}

.announce {
    text-align: center;
}

.announcement {
    font-size: 30px;
    margin-bottom: -3px;
    margin-top: 10px;
}

.announce button {
    font-size: 30px;
    background-color: rgb(136, 8, 8);
    transition-duration: 0.4s;
    font-family: "zombie";
}

.announce button:hover {
    background-color: rgb(238, 210, 2);
    color: rgb(136, 8, 8);
}

.end {
    font-size: 25px;
    background-color: rgb(136, 8, 8);
    color: rgb(238, 210, 2);
    font-family: "zombie";
    transition-duration: 0.4s;
}

.end:hover {
    background-color: rgb(238, 210, 2);
    color: rgb(136, 8, 8)
}
