@font-face {
    font-family: 'zombie';
    src: url(fonts/zombie.otf) format("opentype")
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Bebas Neue';
}

main {
    padding: clamp(1.5rem, 5vw, 8rem);
    min-height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid rgb(0, 0, 0);
}

.heading {
    text-align: center;
    font-size: clamp(32px, 8vw, 60px);
}

.invite {
    text-align: center;
    font-size: clamp(28px, 6vw, 50px);
    margin-top: clamp(40px, 10vh, 120px);
    color: rgb(238, 210, 2);
}

.buttons {
    text-align: center;
    color: rgb(238, 210, 2);
    margin-top: clamp(15px, 3vh, 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.create {
    background-color: rgb(238, 210, 2);
    padding: clamp(0.75em, 2vw, 1em);
    transition-duration: 0.4s;
    font-size: clamp(20px, 4vw, 30px);
    width: 100%;
    max-width: 300px;
    border: none;
    cursor: pointer;
}

.create:hover {
    background-color: rgb(136, 8, 8);
}

.join {
    background-color: rgb(238, 210, 2);
    padding: clamp(0.75em, 2vw, 1em);
    transition-duration: 0.4s;
    font-size: clamp(20px, 4vw, 30px);
    width: 100%;
    max-width: 300px;
    border: none;
    cursor: pointer;
}

.join:hover {
    background-color: rgb(136, 8, 8);
}

@media (min-width: 481px) {
    .buttons {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .create, .join {
        width: auto;
        min-width: 180px;
    }
}
