@font-face {
    font-family: 'zombie';
    src: url(fonts/zombie.otf) format("opentype")
}
.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }



* {
    font-family: 'Bebas Neue';
}

main{
    padding: 8em;
    height: 770px;
    border: 5px solid rgb(0, 0, 0);
}

.question {
    text-align: center;
    font-size: 60px;
}

.check_box {
    font-size: 25px;
    text-align: center;
}

.check_box p {
    font-size: 60px;
}

.check_box label {
    cursor: pointer;
    transition: 0.4s;
}

.check_box input[type="checkbox"] {
    cursor: pointer;
}

.check_box label:hover {
    color: rgb(238, 210, 2)
}

.generate {
    text-align: center;
    font-size: 60px;
}

.button {
    text-align: center;
    font-size: 40px;
    transition-duration: 0.4s;
}

.button input[type="button"]:hover {
    background-color: rgb(238, 210, 2);
}

.nickname {
    text-align: center;
    padding: 2em;
}

.nickname p {
    font-size: 60px;
}

.nickname label {
    font-size: 50px;
}
