@font-face {
    font-family: 'zombie';
    src: url(fonts/zombie.otf) format("opentype")
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Bebas Neue';
}

main {
    text-align: center;
    min-height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 43, 43);
    color: rgb(238, 210, 2);
    padding: clamp(1rem, 3vw, 2rem);
}

.heading {
    font-size: clamp(48px, 12vw, 90px);
    margin-bottom: clamp(20px, 5vh, 40px);
}

.code {
    margin-top: clamp(30px, 8vh, 100px);
    font-size: clamp(20px, 4vw, 30px);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.code input[type="text"] {
    font-size: clamp(18px, 4vw, 24px);
    padding: 0.5em;
    width: 100%;
    max-width: 250px;
    text-align: center;
}

.enter {
    margin-left: 0;
    background-color: rgb(238, 210, 2);
    color: rgb(0, 0, 0);
    transition-duration: 0.4s;
    padding: 0.5em 1.5em;
    border: none;
    cursor: pointer;
    font-size: clamp(18px, 4vw, 24px);
}

.enter:hover {
    background-color: rgb(136, 8, 8);
}

.nickname {
    font-size: clamp(20px, 4vw, 30px);
    margin-top: 2rem;
}

.nickname_input {
    font-size: clamp(18px, 4vw, 25px);
    margin-bottom: clamp(30px, 5vh, 75px);
    padding: 0.5em;
    width: 100%;
    max-width: 250px;
}

.n_button {
    margin-left: 0;
    background-color: rgb(238, 210, 2);
    transition-duration: 0.4s;
    padding: 0.5em 1.5em;
    border: none;
    cursor: pointer;
}

.n_button:hover {
    background-color: rgb(136, 8, 8);
}

.button {
    font-size: clamp(18px, 4vw, 25px);
}

.button input[type="button"] {
    background-color: rgb(238, 210, 2);
    color: rgb(0, 0, 0);
    transition-duration: 0.4s;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

.button input[type="button"]:hover {
    background-color: rgb(136, 8, 8);
    color: rgb(0, 0, 0);
}

.join {
    padding: 0.5em;
    font-size: clamp(28px, 6vw, 44px);
}

.join button {
    background-color: rgb(40, 43, 43);
    color: rgb(238, 210, 2);
    transition-duration: 0.4s;
    border: 2px solid rgb(238, 210, 2);
    padding: 0.5em 1em;
    cursor: pointer;
}

.join button:hover {
    color: rgb(40, 43, 43);
    background-color: rgb(136, 8, 8);
    border-color: rgb(136, 8, 8);
}

@media (min-width: 481px) {
    .code {
        flex-direction: row;
        justify-content: center;
    }

    .enter {
        margin-left: 1rem;
    }
}
