@font-face {
    font-family: 'zombie';
    src: url(fonts/zombie.otf) format("opentype")
}
.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Bebas Neue';
}

main {
    text-align: center;
    height: 800px;
    background-color: rgb(40, 43, 43);
    color: rgb(238, 210, 2);
}

.code {
    margin-top: 175px;
    font-size: 30px;
}

.enter {
    margin-left: 25px;
    background-color: rgb(238, 210, 2);
    color: rgb(0, 0, 0);
    transition-duration: 0.4s;
    margin-bottom: 50px;
}

.enter:hover {
    background-color: rgb(136, 8, 8);
}

.nickname {
    font-size: 30px;
}

.nickname_input {
    font-size: 25px;
    margin-bottom: 75px;
}

.n_button {
    margin-left: 25px;
    background-color: rgb(238, 210, 2);
    transition-duration: 0.4s;
}

.n_button:hover {
    background-color: rgb(136, 8, 8);
}

.button {
    font-size: 25px;
}

.button input[type="button"] {
    background-color: rgb(238, 210, 2);
    color: rgb(0, 0, 0);
    transition-duration: 0.4s;
}

.button input[type="button"]:hover {
    background-color: rgb(136, 8, 8);
    color: rgb(0, 0, 0);
}


.join {
    padding: 0.5em;
    font-size: 44px;
}

.join button {
    background-color: rgb(40, 43, 43);
    color: rgb(238, 210, 2);
    transition-duration: 0.4s;
}

.join button:hover {
    color:rgb(40, 43, 43);
    background-color: rgb(136, 8, 8);
}